body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-122px;
  width:4118px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:565px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:146px;
  width:1136px;
  height:565px;
  display:flex;
}
#u915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:237px;
  width:70px;
  height:70px;
  display:flex;
}
#u916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:18px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:200px;
  width:77px;
  height:18px;
  display:flex;
}
#u917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#0091AE;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:204px;
  width:35px;
  height:11px;
  display:flex;
  font-size:10px;
  color:#0091AE;
}
#u918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u918_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:51px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:239px;
  width:415px;
  height:51px;
  display:flex;
}
#u919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:justify;
  text-justify:inter-word;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:242px;
  width:73px;
  height:23px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:justify;
  text-justify:inter-word;
}
#u920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:270px;
  width:438px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u921 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u921_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:562px;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:146px;
  width:1136px;
  height:562px;
  display:flex;
}
#u922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:559px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:2821px;
  top:146px;
  width:1136px;
  height:559px;
  display:flex;
}
#u923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:3318px;
  top:318px;
  width:145px;
  height:51px;
  display:flex;
}
#u924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:3322px;
  top:331px;
  width:136px;
  height:21px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u925 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u925_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:51px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:3137px;
  top:400px;
  width:145px;
  height:51px;
  display:flex;
}
#u926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:3141px;
  top:413px;
  width:136px;
  height:21px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u927_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:560px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:818px;
  width:1136px;
  height:560px;
  display:flex;
}
#u928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:557px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:1490px;
  width:1136px;
  height:557px;
  display:flex;
}
#u929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:586px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:1490px;
  width:1136px;
  height:586px;
  display:flex;
}
#u930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:33px;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:1943px;
  width:32px;
  height:33px;
  display:flex;
}
#u931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:1944px;
  width:30px;
  height:30px;
  display:flex;
}
#u932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:33px;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:1943px;
  width:181px;
  height:33px;
  display:flex;
}
#u933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#34485C;
}
#u934 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:1950px;
  width:194px;
  height:18px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#34485C;
}
#u934 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u934_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u935_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
}
#u935 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1910px;
  width:181px;
  height:24px;
  display:flex;
}
#u935 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  color:#34485C;
}
#u936 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:1913px;
  width:45px;
  height:18px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  color:#34485C;
}
#u936 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u936_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u937 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:1910px;
  width:344px;
  height:83px;
  display:flex;
}
#u937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u938_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u938 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:102px;
  width:30px;
  height:30px;
  display:flex;
}
#u938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u939_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:110px;
  width:83px;
  height:15px;
  display:flex;
}
#u939 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u939_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u940_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:102px;
  width:30px;
  height:30px;
  display:flex;
}
#u940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:1513px;
  top:110px;
  width:177px;
  height:15px;
  display:flex;
}
#u941 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u941_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u942_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:2821px;
  top:102px;
  width:30px;
  height:30px;
  display:flex;
}
#u942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:2865px;
  top:110px;
  width:164px;
  height:15px;
  display:flex;
}
#u943 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u943_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:231px;
  width:159px;
  height:83px;
  display:flex;
}
#u944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:273px;
  width:0px;
  height:0px;
}
#u945_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-25px;
  width:212px;
  height:18px;
  -webkit-transform:rotate(-7deg);
  -moz-transform:rotate(-7deg);
  -ms-transform:rotate(-7deg);
  transform:rotate(-7deg);
}
#u945_seg1 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-7px;
  width:210px;
  height:16px;
  -webkit-transform:rotate(16deg);
  -moz-transform:rotate(16deg);
  -ms-transform:rotate(16deg);
  transform:rotate(16deg);
}
#u945_seg2 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:16px;
  width:33px;
  height:32px;
  -webkit-transform:rotate(-153.43494882292492deg);
  -moz-transform:rotate(-153.43494882292492deg);
  -ms-transform:rotate(-153.43494882292492deg);
  transform:rotate(-153.43494882292492deg);
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:151px;
  top:-31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:1994px;
  top:453px;
  width:0px;
  height:0px;
}
#u946_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:27px;
  width:636px;
  height:44px;
  -webkit-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
  -ms-transform:rotate(6deg);
  transform:rotate(6deg);
}
#u946_seg1 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:-25px;
  width:634px;
  height:42px;
  -webkit-transform:rotate(-16deg);
  -moz-transform:rotate(-16deg);
  -ms-transform:rotate(-16deg);
  transform:rotate(-16deg);
}
#u946_seg2 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:-121px;
  width:33px;
  height:32px;
  -webkit-transform:rotate(153.22478999814763deg);
  -moz-transform:rotate(153.22478999814763deg);
  -ms-transform:rotate(153.22478999814763deg);
  transform:rotate(153.22478999814763deg);
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:570px;
  top:61px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:774px;
  width:30px;
  height:30px;
  display:flex;
}
#u947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u948_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:782px;
  width:314px;
  height:18px;
  display:flex;
}
#u948 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u948_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:1447px;
  width:30px;
  height:30px;
  display:flex;
}
#u949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:1455px;
  width:394px;
  height:15px;
  display:flex;
}
#u950 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u950_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:892px;
  width:178px;
  height:61px;
  display:flex;
}
#u951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u952_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:1447px;
  width:30px;
  height:30px;
  display:flex;
}
#u952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:1513px;
  top:1455px;
  width:203px;
  height:18px;
  display:flex;
}
#u953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u953_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:811px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:2190px;
  width:375px;
  height:811px;
  display:flex;
}
#u954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:2138px;
  width:30px;
  height:30px;
  display:flex;
}
#u955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:1513px;
  top:2146px;
  width:134px;
  height:15px;
  display:flex;
}
#u956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:2037px;
  top:2139px;
  width:30px;
  height:30px;
  display:flex;
}
#u957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:2081px;
  top:2147px;
  width:243px;
  height:18px;
  display:flex;
}
#u958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u958_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:524px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:2037px;
  top:2190px;
  width:1136px;
  height:524px;
  display:flex;
}
#u959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:2325px;
  top:2400px;
  width:570px;
  height:173px;
  display:flex;
}
#u960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:1844px;
  top:2596px;
  width:0px;
  height:0px;
}
#u961_seg0 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-66px;
  width:258px;
  height:18px;
  -webkit-transform:rotate(-24deg);
  -moz-transform:rotate(-24deg);
  -ms-transform:rotate(-24deg);
  transform:rotate(-24deg);
}
#u961_seg1 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:-122px;
  width:262px;
  height:22px;
  -webkit-transform:rotate(-1deg);
  -moz-transform:rotate(-1deg);
  -ms-transform:rotate(-1deg);
  transform:rotate(-1deg);
}
#u961_seg2 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:-125px;
  width:33px;
  height:32px;
  -webkit-transform:rotate(-170.96681178665628deg);
  -moz-transform:rotate(-170.96681178665628deg);
  -ms-transform:rotate(-170.96681178665628deg);
  transform:rotate(-170.96681178665628deg);
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-111px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:45px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:3940px;
  top:3003px;
  width:300px;
  height:45px;
  display:flex;
}
#u962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:559px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:818px;
  width:1136px;
  height:559px;
  display:flex;
}
#u963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:560px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:2821px;
  top:818px;
  width:1136px;
  height:560px;
  display:flex;
}
#u964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:1469px;
  top:774px;
  width:30px;
  height:30px;
  display:flex;
}
#u965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:1513px;
  top:782px;
  width:209px;
  height:15px;
  display:flex;
}
#u966 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u966_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:2257px;
  top:1145px;
  width:178px;
  height:31px;
  display:flex;
}
#u967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:2821px;
  top:774px;
  width:30px;
  height:30px;
  display:flex;
}
#u968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:2865px;
  top:782px;
  width:244px;
  height:15px;
  display:flex;
}
#u969 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u969_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:518px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:2821px;
  top:1498px;
  width:1136px;
  height:518px;
  display:flex;
}
#u970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:2821px;
  top:1455px;
  width:30px;
  height:30px;
  display:flex;
}
#u971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:2865px;
  top:1463px;
  width:101px;
  height:15px;
  display:flex;
}
#u972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u972_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:3282px;
  top:1823px;
  width:166px;
  height:23px;
  display:flex;
}
#u973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:3283px;
  top:1829px;
  width:159px;
  height:12px;
  display:flex;
  font-size:11px;
}
#u974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u974_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:3300px;
  top:1868px;
  width:166px;
  height:23px;
  display:flex;
}
#u975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:3274px;
  top:1871px;
  width:222px;
  height:12px;
  display:flex;
  font-size:11px;
}
#u976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u976_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:519px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:2190px;
  width:997px;
  height:519px;
  display:flex;
}
#u977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:2135px;
  width:30px;
  height:30px;
  display:flex;
}
#u978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:2143px;
  width:204px;
  height:15px;
  display:flex;
}
#u979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u979_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:923px;
  width:0px;
  height:0px;
}
#u980_seg0 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:133px;
  width:808px;
  height:44px;
  -webkit-transform:rotate(20deg);
  -moz-transform:rotate(20deg);
  -ms-transform:rotate(20deg);
  transform:rotate(20deg);
}
#u980_seg1 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:247px;
  width:820px;
  height:56px;
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  -ms-transform:rotate(-3deg);
  transform:rotate(-3deg);
}
#u980_seg2 {
  border-width:0px;
  position:absolute;
  left:1538px;
  top:222px;
  width:33px;
  height:32px;
  -webkit-transform:rotate(166.89493999744585deg);
  -moz-transform:rotate(166.89493999744585deg);
  -ms-transform:rotate(166.89493999744585deg);
  transform:rotate(166.89493999744585deg);
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:704px;
  top:267px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:2548px;
  top:1097px;
  width:0px;
  height:0px;
}
#u981_seg0 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:29px;
  width:564px;
  height:40px;
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  transform:rotate(7deg);
}
#u981_seg1 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:-7px;
  width:560px;
  height:36px;
  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  transform:rotate(-15deg);
}
#u981_seg2 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:-88px;
  width:33px;
  height:32px;
  -webkit-transform:rotate(154.31377145119612deg);
  -moz-transform:rotate(154.31377145119612deg);
  -ms-transform:rotate(154.31377145119612deg);
  transform:rotate(154.31377145119612deg);
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:495px;
  top:63px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:1243px;
  top:1952px;
  width:0px;
  height:0px;
}
#u982_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-42px;
  width:530px;
  height:34px;
  -webkit-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
  -ms-transform:rotate(-8deg);
  transform:rotate(-8deg);
}
#u982_seg1 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:-214px;
  width:532px;
  height:34px;
  -webkit-transform:rotate(-31deg);
  -moz-transform:rotate(-31deg);
  -ms-transform:rotate(-31deg);
  transform:rotate(-31deg);
}
#u982_seg2 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:-356px;
  width:33px;
  height:32px;
  -webkit-transform:rotate(138.7181496417449deg);
  -moz-transform:rotate(138.7181496417449deg);
  -ms-transform:rotate(138.7181496417449deg);
  transform:rotate(138.7181496417449deg);
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:466px;
  top:-82px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:2329px;
  top:2047px;
  width:0px;
  height:0px;
}
#u983_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-63px;
  width:770px;
  height:42px;
  -webkit-transform:rotate(-9deg);
  -moz-transform:rotate(-9deg);
  -ms-transform:rotate(-9deg);
  transform:rotate(-9deg);
}
#u983_seg1 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:-331px;
  width:780px;
  height:54px;
  -webkit-transform:rotate(-32deg);
  -moz-transform:rotate(-32deg);
  -ms-transform:rotate(-32deg);
  transform:rotate(-32deg);
}
#u983_seg2 {
  border-width:0px;
  position:absolute;
  left:1386px;
  top:-535px;
  width:33px;
  height:32px;
  -webkit-transform:rotate(137.87545368399162deg);
  -moz-transform:rotate(137.87545368399162deg);
  -ms-transform:rotate(137.87545368399162deg);
  transform:rotate(137.87545368399162deg);
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:704px;
  top:-128px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:2632px;
  width:0px;
  height:0px;
}
#u984_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:282px;
  height:24px;
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  transform:rotate(-5deg);
}
#u984_seg1 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:-94px;
  width:282px;
  height:20px;
  -webkit-transform:rotate(-28deg);
  -moz-transform:rotate(-28deg);
  -ms-transform:rotate(-28deg);
  transform:rotate(-28deg);
}
#u984_seg2 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:-169px;
  width:33px;
  height:32px;
  -webkit-transform:rotate(141.55039382451335deg);
  -moz-transform:rotate(141.55039382451335deg);
  -ms-transform:rotate(141.55039382451335deg);
  transform:rotate(141.55039382451335deg);
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:223px;
  top:-34px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
